<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fly.mapper.StudentMapper">
    <!--思路一：按照查询进行嵌套处理就像SQL中的子查询-->
    <select id="selectStudents1" resultMap="student_teacher1">
        select * from student
    </select>
    <resultMap id="student_teacher1" type="student">
        <!--association关联属性 property属性名 javaType属性类型 column在多的一方的表中的列名-->
        <association property="teacher" column="tid" javaType="Teacher" select="selectTeacherById"/>
    </resultMap>
    <select id="selectTeacherById" resultType="teacher">
        select * from teacher where id = #{id}
    </select>

    <!--思路二：按照结果进行嵌套处理就像SQL中的联表查询-->
    <!--直接查询出结果，进行结果集的映射-->
    <!--两张表有相同的字段名需要取别名-->
    <select id="selectStudents2" resultMap="student_teacher2">
        select s.id sid, s.name sname, t.name tname
        from student s, teacher t
        where s.tid = t.id
    </select>
    <resultMap id="student_teacher2" type="student">
        <id property="id" column="sid"/>
        <result property="name" column="sname"/>
        <association property="teacher" javaType="Teacher">

            <result property="name" column="tname"/>
        </association>
    </resultMap>
</mapper>